<!DOCTYPE html>
<html lang="<%=I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <title><%=t(:service_name)%> <%=t(:login_page) %></title>
  <meta name="description" content="<%=t(:service_name)%> Admin System Login" />
  <meta name="author" content="Sleeping-Lion" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
  <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <![endif]-->
</head>
<body>

        <%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
