<article>
  <h3><%= t(:payment_method) %>,<%= t(:total) %></h3>
  <div class="card">
    <input type="hidden" id="order_count" value=""/>
    <input type="hidden" id="no_data_t" value="<%= t(:no_exists_order) %>"/>
    <div class="card-body">
      <div id="payment_method" class="form-group">
        <% if @payment_count %>
          <% if @payment_count > 1 %>
            <% @payments.each_with_index do |payment, index| %>
              <div class="form-check form-check-inline">
                <input name="payment_method" id="p_type<%= index %>" value="<%= payment.id %>" type="radio" <% if index.zero? %> checked="checked"<% end %>>
                <label for="p_type<%= index %>" class="form-check-label">&nbsp;<%= payment.title %></label>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= t(:total_price) %>: <span id="total_price"></span><%= t(:currency) %>
    </div>
  </div>
</article>