<%
  if @user
    user_id=@user.id
  else
    user_id=nil
  end
%>
<article id="user_info" <% unless @user %> style="display:none"<% end %>>
  <%=form.hidden_field :user_id,value: user_id %>
  <h3><span><%= t(:select_user) %></span></h3>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-lg-4">
          <label><%=t(:user) %></label>
          <p>
              <span id="user_name">
                <% if @user %><%=@user.name %><% end %>
                <br/>
                  </span>
          </p>
        </div>
        <div class="col-12 col-lg-5">
          <label><%=t(:phone) %></label>
          <p>
                  <span id="user_phone">
                    <% if @user %><%=@user.phone %><% end %>
                  </span><br/>
            <span id="user_address">
                   <% if @user %> <%=@user.address %><% end %>
                  </span>
          </p>
        </div>
        <div class="col-12 col-lg-3 text-right">
          <input type="button" id="user_select_cancel" value="<%= t(:cancel) %>" class="btn btn-danger"/>
        </div>
      </div>
    </div>
  </div>
</article>